body {
  background: linear-gradient(140deg, rgb(30, 42, 120), rgb(255, 46, 76) 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#collisionCanvas {
  opacity: 0;
}
